* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  overflow: hidden;
  background-color: #0a3cce;
}

@font-face {
  font-family: a;
  src: url(./KFOlCnqEu92Fr1MmEU9fBBc4.ttf);
}
#page1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#page1 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page1 > nav {
  display: flex;
  position: absolute;
  height: 10vh;
  width: 100vw;

  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
#page1 > nav > img {
  width: 9vw;
  margin-top: -1.7vw;
}
#right-nav > button {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: blue;
  color: #fff;
  font-family: a;
  font-size: 15px;
  /* position: relative; */
}

.btm-page1 {
  position: absolute;
  bottom: 5%;
  left: 10%;
  height: 35vh;
  width: 50vw;
}
.btm-page1 > h1 {
  font-family: a;
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}
.btm-page1-inner {
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: 0%;
}
.btm-page1-inner {
  font-family: a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btm-page1-inner > button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-family: a;
  color: blue;
  font-size: 16px;
  background-color: #fff;
}
.btm-page1-inner > h4 {
  font-size: 1.3vw;
  color: white;
  font-weight: 100;
}
#page2 {
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-family: a;
  color: white;
  padding: 0vw 8vw;
  position: relative;
}
#page2 > h2 {
  margin-bottom: 2vw;
  font-weight: 100;
}
#page2 > h1 {
  width: 90%;
  font-size: 3vw;
  font-weight: 100;
  line-height: 1.3;
  color: #dadada69;
}
#page3 {
  height: 100vh;
  width: 100vw;

  position: relative;
}
#page3 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}
#page4 {
  height: 100vh;
  width: 100vw;
  position: relative;
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #0a3cce;
  font-family: a;
}
#page4 > h3 {
  margin-left: 15vw;
  margin-bottom: 3vw;
  font-size: 2vw;
  font-weight: 100;
  color: white;
}
#page4 > h1 {
  margin-left: 15vw;
  font-size: 3vw;
  line-height: 1.3;
  width: 70%;
  font-weight: 100;
  color: #dadada69;
}
#page5 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#page5 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}
#page6 {
  height: 100vh;
  width: 100vw;
  position: relative;
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #0a3cce;
  font-family: a;
}
#page6 > h3 {
  margin-left: 15vw;
  margin-bottom: 3vw;
  font-size: 2vw;
  font-weight: 100;
  color: white;
}
#page6 > h1 {
  margin-left: 15vw;
  font-size: 3vw;
  line-height: 1.3;
  width: 70%;
  font-weight: 100;
  color: #dadada69;
}
#page7 {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0a3cce;
}
#page7 > canvas {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}
#page7-cir {
  z-index: 9;
  height: 30vw;
  width: 30vw;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.page7-cir-inner {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
}
#page8 {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0a3cce;
}
#page8 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page8-btm {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: a;
}
.page8-btm > h1 {
  color: #fff;
  margin-bottom: 2vw;
  font-size: 3vw;
  font-weight: 100;
}
.page8-btm > button {
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: #0a3cce;
  border-radius: 4vw;
}
#page9 {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
.left9 {
  height: 100%;
  width: 40%;

  position: relative;
  font-family: a;
}
.left9 > h1 {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 3vw;
  font-weight: 100;
  color: #fff;
  line-height: 1;
}
.right9 {
  height: 100%;
  width: 60%;

  position: relative;
}
.right9-center {
  height: 50%;
  width: 85%;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
  object-fit: cover;
  background-size: cover;
  left: 5%;
}
.page10 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
.right10 {
  height: 100%;
  width: 60%;
  position: relative;
  left: 40%;
}
.right10-inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 33.33%;
  width: 100%;

  font-family: a;
  color: #fff;
}
.right10-inner > h1 {
  font-size: 1.5vw;
}
.right10-inner > p {
  font-size: 1.3vw;
  width: 80%;
  margin-top: 2vw;
}
#page11 {
  height: 110vh;
  width: 100vw;
  position: relative;
  background-color: white;
  font-family: a;
}
#page11 > h1 {
  position: absolute;
  font-size: 3vw;
  color: #000;
  font-weight: 100;
  top: 5%;
  left: 10%;
}
.page11-innner {
  position: relative;
  margin-bottom: 2vw;
  height: 22%;
  width: 100%;

  top: 18%;
  display: flex;
}
.page11-left {
  position: relative;
  height: 100%;
  width: 40%;
  left: 5%;
  overflow: hidden;
  border-radius: 10px;
}
.page11-left > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page11-right {
  padding-top: 3vw;
  color: #000;
  left: 50%;
  position: absolute;
  height: 100%;
  width: 50%;
  font-family: a;
}
.page11-right > h4 {
  font-weight: 100;
}
.page11-right > h1 {
  font-size: 1vw;
}

#page12 {
  height: 110vh;
  width: 100vw;
  position: relative;
  background-color: #0a3cce;
  font-family: a;
  color: white;
}
.page12-inner {
  position: absolute;
  top: 30%;
  right: 10%;
}
.page12-inner > h1 {
  font-size: 3vw;
  line-height: 1;
}
.page12-inner > p {
  font-size: 1.5vw;
  line-height: 1.4;
}

#page13 {
  position: relative;
  height: 50vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  font-family: a;
  padding: 7vw 10vw;
}
#page13 > h1 {
  font-size: 5vw;
  line-height: 1;
  font-weight: 100;
}
#page13 > button {
  padding: 18px 30px;
  border: none;
  background-color: #0a3cce;
  color: #fff;
  border-radius: 50px;
  margin-top: 2vw;
}

#page14 {
  position: relative;
  height: 60vh;
  width: 100vw;
  background-color: #000;
}
.page14-inner {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;

  font-family: a;
  height: 33.3%;
  width: 100%;

  color: #fff;

  border-top: 0.5px solid #ffffff48;
  border-bottom: 0.5px solid #ffffff48;
}
.page14-inner > i {
  font-size: 2vw;
  position: relative;
  z-index: 9999;
  font-weight: 100;
}
.page14-inner > h1 {
  font-size: 3vw;
  font-weight: 100;
  position: relative;
  z-index: 9999;
}
.center14 {
  height: 0%;
  width: 100%;
  background-color: #0a3cce;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.5s;
}
.page14-inner:hover .center14 {
  height: 100%;
}
@media (max-width: 425px) {
  #page2 > h2 {
    margin-bottom: 4vw;
    font-weight: 100;
  }
  #page2 > h1 {
    width: 100%;
    font-size: 5vw;
    font-weight: 100;
    line-height: 2;
    color: #dadada69;
  }
}
@media (max-width: 500px) {
  #main {
    flex-direction: column;
  }
  #main #page1 {
    width: 100%;
  }
  #main #page2 {
    width: 100%;
  }
  #main #page3 {
    width: 100%;
  }
  #main #page4 {
    width: 100%;
  }
  #main #page5 {
    width: 100%;
  }
  #page3 > canvas {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
  }
}
